body {
    background-color: beige;
    color: black;
    font-family: cursive;
    text-align: center;
    margin: 0px;
}

.main_container {
    background-color: bisque;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.moves_container,
.scores,
.round_scores {
    display: flex;
    justify-content: center;
    gap: 35px;
    background-color: bisque;
}

.round_scores {
    flex-basis: 15%;
   
}

div {
    padding: 5px;
    margin:5px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: beige;
}

